.main {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.main-posts-container {
    text-align: center;
}

.activities-container {
    border-right: 1px solid black;
}

.chatroom-container {
    border-left: 1px solid black;
}

.card-image {
    object-fit: contain;
}

.main-posts-container-wrapper {
    display: inline-grid;
}

.card-button {
    margin: 5px;
}